.btn-align {
  bottom: 5%;
  background: transparent;
  width: 30%;
  align-items: center;
}

button {
  border-radius: 8px;
  border: none;
  width: 100px;
  height: 30px;
  background-color: #82848c;
  color: #fff;
}

ul {
  margin-top: 20px;
}
li {
  margin-top: 10px;
}
